@import url("https://fonts.googleapis.com/css2?family=Graduate&family=Open+Sans:wght@400;700;800&family=Source+Code+Pro:wght@300&display=swap");

$darkGrey: #363636;
$grey: #2d2d2d;
$lightGrey: #cccccc;
$red: #f2777a;
$yellow: #ffcc66;
$green: #99cc99;
$blue: #6699cc;
$purple: #b294bb;

$font-mono: "Source Code Pro", monospace;
$font-sans: "Open Sans", sans-serif;
$font-logo: "Source Code Pro", monospace;
