@import url("https://fonts.googleapis.com/css2?family=Graduate&family=Open+Sans:wght@400;700;800&family=Yeseva+One&display=swap");

$grey: #2d2d2d;
$lightGrey: #cccccc;
$red: #f2777a;
$yellow: #ffcc66;
$purple: #b294bb;

$font-mono: "Source Code Pro", monospace;
$font-sans: "Open Sans", sans-serif;
$font-logo: "Yeseva One", cursive;

$minTablet: 768px;
$maxMobile: $minTablet - 1;
$minDesktop: 1024px;
$maxTablet: $minDesktop -1;
